.gramatika-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.pdf-viewer {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-viewer iframe {
    width: 100%;
    height: 100%; 
    border: none; 
}
